.boardRow:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .button button{
    display: inline-block;
    width: 100px;
    height: 50px;
    margin-bottom:10px;
  }